@charset "UTF-81";

body{
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;
}
h1#principal{
    text-align: center;
    background-color: #3c805e;
    color: white;
}

h1{
    color: #1e402f;
}

h2{
    color:#3c805e;
}

.basico{
    color:#3c805e;
}

.intermediario{
    color:#80793c;
}

.avancado{
    color:#803c3c;
}

.destaque{
    background-color: rgba(151, 151, 79, 0.473);
}